/* RESET http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,  footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
/* CLEARFIX */
.cf:before, .cf:after { content: " "; /* 1 */  display: table; /* 2 */ }
.cf:after { clear: both; }
/* For IE 6/7 only Include this rule to trigger hasLayout and contain floats. */
.cf { *zoom: 1; }
/* alextcone styles */
@import url(http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps:700);
body { color: black; font-family: Helvetica, sans-serif; }
.wrapper { margin: 0 auto; max-width: 900px; padding: 10px; }
header { background: #23262A; color: #f4f4f4; }
header h1 { display: inline; font-family: 'Oleo Script Swash Caps', cursive; font-size: 32px; }
header a, header a:link { color: #f4f4f4; text-decoration: none; }
header a:hover { color: #fff; }
nav.horizontal ul { margin-top: 8px; }
nav.horizontal li { display: inline; padding: 0 20px; }
nav.horizontal li.first { padding-left: 0; }
nav.horizontal li.last { padding-right: 0; }
section.one h2 { font-size: 24px; margin: 20px 0 0; text-align: center; }
.pull-right { float: right; }
/* resize styles */
@media (max-width: 480px) {
nav.horizontal { display: none; }
}