/* RESET http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,  footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1.4; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
/* CLEARFIX */
.cf:before, .cf:after { content: " "; /* 1 */  display: table; /* 2 */ }
.cf:after { clear: both; }
/* For IE 6/7 only Include this rule to trigger hasLayout and contain floats. */
.cf { *zoom: 1; }
/* alextcone styles */
body { color: black; font-family: Helvetica, sans-serif; font-size: 16px; }
.wrapper { margin: 0 auto; max-width: 900px; padding: 0 10px; }
a { color: #f93a21; }
a:hover { color: black; }
p { font-size: 16px; }
header { background: #23262A; color: #f4f4f4; padding-bottom: 10px; padding-top: 10px; position: fixed; width: 100%; z-index: 100; }
header h1 { display: inline; font-family: 'Oleo Script Swash Caps', cursive; float: left; font-size: 32px; line-height: 1; }
header a, header a:link { color: #f4f4f4; text-decoration: none; }
header a:hover { color: #fff; }
hr { border-bottom: 1px solid white; border-top: 1px solid #EEE; }
hr.soften { height: 1px; margin: 40px 0; background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0)); background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0)); background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0)); background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0)); border: 0; }
nav.horizontal ul { line-height: 1; margin-top: 8px; }
nav.horizontal li { display: inline; padding: 0 20px; }
nav.horizontal li.first { padding-left: 0; }
nav.horizontal li.last { padding-right: 0; }
section.about { padding-top: 100px; }
section.about article.boilerplate { margin: 10px 160px 0; }
section.about article.boilerplate img { background: white; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); border: 1px solid #ccc; float: left; margin: 0 20px 0 0; max-width: 130px; padding: 5px; }
section.about article.boilerplate p { font-size: 24px; margin: 20px 0 0; white-space: normal; }
section.about article.bio { margin: 40px 0; }
section.about article.bio .circle { background: black; height: 80px; width: 80px; }
section.about article.bio .circle #info { color: #f0f0f0; display: inline; font-family: Georgia, serif; font-size: 22px; font-style: italic; font-weight: 900; left: 36px; line-height: 1; position: relative; top: 27px; }
section.about article.resume .rectangle { background: black; display: inline-block; height: 166px; padding-top: 8px; width: 130px; }
section.about article.resume .rectangle:hover { background: #404040; }
section.about article.resume hr { background: white; border-bottom: none; border: none; height: 1px; margin: 4px auto; width: 110px; }
section.about article.resume hr#top { margin-top: 13px; }
section.about article.resume img#github { max-width: 120px; position: relative; top: 50px; }
section.about article.resume img#github:hover, section.about article.resume img#rss:hover { opacity: 0.75; }
section.about article.resume img#rss { max-width: 100px; position: relative; top: 28px; }
section.work h2 { font-family: 'Oleo Script Swash Caps', cursive; font-size: 32px; margin-bottom: 34px; }
section.work pre { color: #e6e1dc; font-family: “Monaco”, monospace; font-size: 12px; overflow: auto; overflow-x: auto; white-space: pre-wrap; white-space: -moz-pre-wrap !important; word-wrap: break-word; }
section.work .code { background: #2b2b2b; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; margin-left: 20px; }
section.work .inner { padding: 12px; }
section.work article.mast { margin-bottom: 20px; }
section.work article.mast p { margin-bottom: 20px; padding-right: 20px; }
section.work article.portfolio img { margin-bottom: 2px; max-width: 100%; }
footer { background: #ccc; margin-top: 40px; padding: 20px 0; }
.add-bottom { margin-bottom: 25px; }
.bold { font-weight: 900; }
.center { display: block; margin: 0 auto; text-align: center; }
.circle { border-radius: 50%; display: inline-block; margin: 0 1px 0 40px; }
.desktop { margin-bottom: 25px; margin-right: 15.2%; width: 34.4%; }
.fours { margin: 0 1.85% 25px; width: 22.222%; }
.fours-first { margin: 0 1.85% 25px 0; width: 22.222%; }
.fours-last { margin: 0 0 25px 1.85%; width: 22.222%; }
.heading { display: block; }
.italicize { font-style: italic; }
.na { color: #cc7832; }
.nt { color: #ffc66d; }
.phone { margin-bottom: 25px; width: 16.6%; }
.pull-left { float: left; }
.pull-right { float: right; }
.s { color: #a5c261; }
.tablet { margin-bottom: 25px; margin-right: 15.2%; width: 18.6% }
.threes { width: 33.333%; }
.threes-with-margin { margin: 0 1% 25px; width: 32%; }
.threes-with-margin-first { margin: 0 1% 25px 0; width: 32%; }
.threes-with-margin-last { margin: 0 0 25px 1%; width: 32%; }
.twtr-bd { background: #f6f6f6; }
.twtr-hd { display: none; }
.twos { width: 50%; }
.white { color: white; }
/* alextcone resize styles */
@media (min-width: 739px) and (max-width: 821px) {
section.about article.boilerplate{ margin: 10px 40px; }
}
@media (min-width: 622px) and (max-width: 738px) {
section.about article.boilerplate { margin: 10px 60px; }
}
@media (min-width: 581px) and (max-width: 621px) {
section.about article.boilerplate { margin: 10px 40px; }
}
@media (max-width: 580px) {
nav.horizontal { display: none; }
section.about { padding-top: 80px; }
section.about article.boilerplate { margin: 10px 0 0; }
section.about article.boilerplate p { font-size: 19px; margin-top: 8px; }
section.about article.resume .pull-left, section.about article.work .pull-left { float: none; }
section.about article.resume img#github, section.about article.resume img#rss { margin-top: 40px; position: relative; top: 0; }
section.work article.mast p { padding-right: 0; }
section.work .code { margin-left: 0; }
.circle { margin-bottom: 24px; }
.desktop { margin-right: 0; width: 100%; }
.fours, .fours-first, .fours-last { margin: 0 0 25px; width: 100%; }
.phone { width: 100%; }
.tablet { margin-right: 0; width: 100%; }
.twos { width: 100%; }
.threes { width: 100%; }
.threes-with-margin, threes-with-margin-first, threes-with-margin-last { margin: 0 0 25px; width: 100%; }
}