/* RESET http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,  footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
/* CLEARFIX */
.cf:before, .cf:after { content: " "; /* 1 */  display: table; /* 2 */ }
.cf:after { clear: both; }
/* For IE 6/7 only Include this rule to trigger hasLayout and contain floats. */
.cf { *zoom: 1; }
/* alextcone styles */
@import url(http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps:700);
body { color: black; font-family: Helvetica, sans-serif; }
.wrapper { margin: 0 auto; max-width: 900px; padding: 10px; }
a { color: #F93A21; }
header { background: #23262A; color: #f4f4f4; }
header h1 { display: inline; font-family: 'Oleo Script Swash Caps', cursive; font-size: 32px; }
header a, header a:link { color: #f4f4f4; text-decoration: none; }
header a:hover { color: #fff; }
hr { border-bottom: 1px solid white; border-top: 1px solid #EEE; }
hr.soften { height: 1px; margin: 40px 0; background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0)); background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0)); background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0)); background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0)); border: 0; }
nav.horizontal ul { margin-top: 8px; }
nav.horizontal li { display: inline; padding: 0 20px; }
nav.horizontal li.first { padding-left: 0; }
nav.horizontal li.last { padding-right: 0; }
section.about article.boilerplate { margin: 10px 160px 0; }
section.about img { background: white; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); border: 1px solid #ccc; float: left; margin: 0 20px 0 0; max-width: 130px; padding: 5px; }
section.about article.boilerplate p { font-size: 24px; line-height: 1.4; margin: 20px 0 0; white-space: normal; }
section.about article.bio { margin: 40px 0; line-height: 1.4; }
section.about article.bio .circle { background: black; height: 80px; width: 80px; }
section.about article.bio .circle #info { color: #f0f0f0; display: inline; font-family: Georgia, serif; font-size: 22px; font-style: italic; font-weight: 900; left: 36px; position: relative; top: 24px; }
section.about article.resume .rectangle { background: black; display: inline-block; height: 166px; padding-top: 8px; width: 130px; }
section.about article.resume .rectangle:hover { background: #f93a21; }
section.about article.resume hr { background: white; border-bottom: none; border: none; height: 1px; margin: 4px auto; width: 110px; }
section.about article.resume hr#top { margin-top: 13px; }
.bold { font-weight: 900; }
.center { display: block; text-align: center; }
.circle { border-radius: 50%; display: inline-block; margin: 0 1px 20px 40px; }
.heading { display: block; }
.pull-left { float: left; }
.pull-right { float: right; }
.white { color: white; }
/* alextcone resize styles */
@media (min-width: 739px) and (max-width: 821px) {
section.about article.boilerplate{ margin: 10px 40px; }
}
@media (min-width: 622px) and (max-width: 738px) {
section.about article.boilerplate { margin: 10px 60px; }
}
@media (min-width: 581px) and (max-width: 621px) {
section.about article.boilerplate { margin: 10px 40px; }
}
@media (max-width: 580px) {
nav.horizontal { display: none; }
section.about article.boilerplate { margin: 10px 0 0; }
section.about article.boilerplate p { font-size: 19px; line-height: 1.4; margin-top: 8px; }
}